_Lizenz: Das folgende Lehrmaterial kann unter einer [CC-BY-SA 4.0](https://creativecommons.org/licenses/by/4.0/legalcode) Lizenz frei verwendet, verbreitet und modifiziert werden._   
 _Authoren: Jana Lasser (jana.lasser@ds.mpg.de)_  
 _Das Lehrmaterial wurde im Zuge des Projektes "Daten Lesen Lernen", gefördert vom Stifterverband und der Heinz Nixdorf Stiftung erstellt._

# Übung 05 - Allgemein: Daten einlesen, bereinigen und mit Histogrammen visualisieren
### Praktische Hinweise
$\rightarrow$ Übungen sind dafür gedacht, dass ihr sie euch daheim anseht und versucht, ein paar Aufgaben selbst zu lösen. In den Tutorien könnt ihr euch weiter mit dem Lösungen der Aufgaben beschäftigen und dabei Hilfe von den Tutor*innen bekommen.  

$\rightarrow$ Wenn ein Fehler auftritt:
1. Fehlermeldung _lesen_ und _verstehen_
2. Versuchen, selbst eine Lösung zu finden ($\rightarrow$ hier findet das Lernen statt!)
3. Das Problem googlen (Stichwort: Stackoverflow) oder den/die Nachbar*in fragen
4. Tutor*in fragen

$\rightarrow$ Unter <font color='green'>**HINWEIS**</font> werden Hinweise gegeben, die für die Lösung der Aufgabe hilfreich sind und oftmals auch weiterführende Informationen zur Aufgabe liefern.

$\rightarrow$ Mit **(Optional)** gekennzeichnete Übungsteile sind für besonders schnelle Menschen :-).

<a name="top"></a>Inhalt
---
In der nachfolgenden Fallstudie werden wir mehrere Datensätze mit Tweets untersuchen. Dabei vergleichen wir Tweets von "normalen" Twitter-Nutzern mit Tweets von Donald Trump und Tweets von russischen Trollen.

Als Datenquellen verwenden wir öffentlich zugängliche Datensätze von Tweets:
* ["normale" Twitter-User](http://help.sentiment140.com/for-students/)
* [Donald Trump](https://github.com/mkearney/trumptweets)
* [russische Trolle](https://github.com/fivethirtyeight/russian-troll-tweets/)

Für die folgenden Übungen gibt es kein Lehrvideo. Deswegen wird es in den Jupyter-Notebooks zu den Übungen mehr Erklärungen und Zwischenschritte geben. Darüber hinaus haben ab dieser Woche auch nicht mehr alle Übungen der verschiedenen Übungsgruppen den exakt gleichen Inhalt, da einige Themenbereiche etwas unterschiedliche Werkzeuge brauchen als andere. Das Konzept ist aber überall das gleiche.  

Die aktuelle Übung gliedert sich in drei Teile:

* [Daten beschaffen](#daten_beschaffen)
* [Daten erkunden](#daten_erkunden)
* [Daten bereinigen](#daten_bereinigen)

<a name="daten_beschaffen"></a>1. Daten beschaffen
---
**A.** Mache dich mit den Datenquellen vertraut: Wer hat die Daten gesammelt und in welchem Kontext publiziert?   
**B.** Laden der Daten: Den Datensatz der "normalen" User müssen wir erst herunterladen, entpacken und können ihn dann als Pandas DataFrame laden:
* folge dem Link http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip
* lade das Archiv ```trainingtestdata``` mit dem Datensatz herunter
* entpacke das Archiv
* lies die Datei ```training.1600000.processed.noemoticon.csv``` wie folgt ein:

In [19]:
# zum Laden und Speichern von Tabellen
import pandas as pd 

# unter diesem Pfad sollte der Datensatz gespeichert sein
pfad_normal = 'data/trainingandtestdata/training.1600000.processed.noemoticon.csv'
tweets_normal_raw = pd.read_csv(pfad_normal, encoding="ISO-8859-1")
tweets_normal_raw.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

**HINWEIS:** durch das Argument ```encoding``` geben wir explizit an, welchen Standard für die Zeichenkodierung des Textes Pandas verwenden soll, um den Text in dem Datensatz zu interpretieren. Das ist insbesondre wichtig, da Tweets sehr viele Sonderzeichen enthalten können, die nicht im normalen Alphabet abgebildet sind.  
Der hier verwendete Standard [ISO 8859-1](https://de.wikipedia.org/wiki/ISO_8859-1) ermöglicht es, den Tweet-Datensatz ohne Fehler einzulesen. Würden wir das encoding nicht explizit angeben, würde Pandas per Default [UTF-8](https://de.wikipedia.org/wiki/UTF-8) verwenden und einen ```UnicodeDecodeError``` produzieren.  

Beim Einlesen fällt auf, dass der Datensatz keinen "Header" (also eine Kopfzeile mit den Namen der Spalten) enthält. Pandas verwendet automatisch die erste Zeile als Header, was in diesem Fall zu einem Falschen Ergebnis führt, da die erste Zeile bereits Daten enthält. Das können wir umgehen, indem wir beim Laden der Daten einen Header explizit angeben:

In [20]:
tweets_normal_raw = pd.read_csv(pfad_normal, \
            names=['sentiment','ID','Date','Query','User','Tweet'],\
            encoding="ISO-8859-1")
tweets_normal_raw.head()

,sentiment,ID,Date,Query,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

Die verschiedenen Argumente, um die Funktionsweise der Funktion ```read_csv()``` von Pandas zu modifizieren finden sich in der [Dokumentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) der Funktion. Falls eine Funktion nicht direkt das tut, was du erwartest, ist es oftmals eine gute Idee, als ersten Schritt in der Dokumentation nachzusehen.  

Die anderen beiden Datensätze können wir direkt aus dem Internet herunterladen:

In [21]:
# Bibliotheken zum Laden von Daten aus dem Internet
import requests 
import io

# die URL unter der der Trump-Tweet-Datensatz zu finden ist
url_trump = "https://github.com/mkearney/trumptweets/raw/master/data/trumptweets-1515775693.tweets.csv"

# lies die Information von der in der URL hinterlegten Website aus
# diesmal geben wir das encoding schon an dieser Stelle an
antwort_trump = requests.get(url_trump).content
inhalt_trump = io.StringIO(antwort_trump.decode('ISO-8859-1'))

# lade die Daten in ein DataFrame und zeige die ersten paar Zeilen an
tweets_trump_raw = pd.read_csv(inhalt_trump)
tweets_trump_raw.head()

/home/jana/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15,30,31,32,36,37,38,42,43,44,45,46,47,50,51,52,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,status_id,created_at,user_id,screen_name,text,source,display_text_width,reply_to_status_id,reply_to_user_id,reply_to_screen_name,...,retweet_verified,place_url,place_name,place_full_name,place_type,country,country_code,geo_coords,coords_coords,bbox_coords
0,x1864367186,2009-05-20 22:29:47,x25073877,realDonaldTrump,Read a great interview with Donald Trump that ...,Twitter Web Client,112,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,x9273573134835712,2010-11-29 15:52:46,x25073877,realDonaldTrump,Congratulations to Evan Lysacek for being nomi...,Twitter Web Client,127,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,x29014512646,2010-10-28 18:53:40,x25073877,realDonaldTrump,I was on The View this morning. We talked abou...,Twitter Web Client,139,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,x7483813542232064,2010-11-24 17:20:54,x25073877,realDonaldTrump,Tomorrow night's episode of The Apprentice del...,Twitter Web Client,140,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,x5775731054,2009-11-16 21:06:10,x25073877,realDonaldTrump,Donald Trump Partners with TV1 on New Reality ...,Twitter Web Client,116,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# die URL unter der der Troll-Tweet-Datensatz zu finden ist
url_troll = 'https://github.com/fivethirtyeight/russian-troll-tweets/raw/master/IRAhandle_tweets_1.csv'

# lies die Information von der in der URL hinterlegten Website aus
# auch hier geben wir das encoding schon an dieser Stelle an
antwort_troll = requests.get(url_troll).content
inhalt_troll = io.StringIO(antwort_troll.decode('ISO-8859-1'))

# lade die Daten in ein DataFrame und zeige die ersten paar Zeilen an
tweets_troll_raw = pd.read_csv(inhalt_troll)
tweets_troll_raw.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN

Schlussendlich speichern wir die "rohen" Datensätze einmal mit der Funktion ```to_csv()``` ab, bevor wir anfangen, sie zu bearbeiten:

In [30]:
tweets_normal_raw.to_csv('data/tweets_normal_raw.csv', index=False, line_terminator='\n')
tweets_trump_raw.to_csv('data/tweets_trump_raw.csv', index=False, line_terminator='\n')
tweets_troll_raw.to_csv('data/tweets_troll_raw.csv', index=False, line_terminator='\n')

NOTIZ (1): Wir benutzen hier das Argument ```line_terminator='\n'```. Das Argument ```line_terminator``` legt fest, welche Buchstabenkombination benutzt wird, um einen Zeilenumbruch zu erzeugen. Tweet-Texte enthalten manchmal Buchstabenkombinationen, die als Zeilenumbrüche interpretiert werden. Das zerstört dann die Formatierung der Tabelle. Wir legen deshalb explizit eine Buchstabenkombination als Zeilenumbruch fest, damit das nicht passiert. Beim laden der so gespeicherten Datensätze müssen wir dann natürlich auch darauf achten, das Argument ```lineterminator``` entsprechend zu setzen (achtung, **kein** Unterstrich hier!).

NOTIZ (2): das Argument ```index=False``` sorgt dafür, dass der Index (also die Zahlen 1, 2, 3, ... am linken Rand der Tabelle) nicht mit abgespeichert werden.

[Anfang](#top)

<a name="daten_erkunden"></a>2. Daten erkunden
---
Zu Beginn möchten wir ein paar grundlegende Dinge über den Datensatz herausfinden: z.B. die enthaltene Information, die Anzahl der Tweets in jedem der Datensätze und die Anzahl der User.  
Die Namen der Spalten eines DataFrame lassen sich über die Variable ```columns``` des DataFrames ansehen:

In [7]:
# eine Liste der im DataFrame "tweets_troll_raw" enthaltenen Spalten
tweets_troll_raw.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'retweet', 'account_category',
       'new_june_2018', 'alt_external_id', 'tweet_id', 'article_url',
       'tco1_step1', 'tco2_step1', 'tco3_step1'],
      dtype='object')

In einem DataFrame können wir auf eine bestimmte Spalte mit ihrem Namen zugreifen:

In [8]:
# zeigt die Spalte mit dem Namen "author" im DataFrame 
# "tweets_troll_raw" an
tweets_troll_raw.author

0                  10_GOP
1                  10_GOP
2                  10_GOP
3                  10_GOP
4                  10_GOP
5                  10_GOP
6                  10_GOP
7                  10_GOP
8                  10_GOP
9                  10_GOP
10                 10_GOP
11                 10_GOP
12                 10_GOP
13                 10_GOP
14                 10_GOP
15                 10_GOP
16                 10_GOP
17                 10_GOP
18                 10_GOP
19                 10_GOP
20                 10_GOP
21                 10_GOP
22                 10_GOP
23                 10_GOP
24                 10_GOP
25                 10_GOP
26                 10_GOP
27                 10_GOP
28                 10_GOP
29                 10_GOP
               ...
243861    AUSTINLOVESBEER
243862    AUSTINLOVESBEER
243863    AUSTINLOVESBEER
243864    AUSTINLOVESBEER
243865    AUSTINLOVESBEER
243866    AUSTINLOVESBEER
243867    AUSTINLOVESBEER
243868    AUSTINLOVESBEER
243869    AUSTINLOVESBEER
243870    AUSTINLOVESBEER
243871    AUSTINLOVESBEER
243872    AUSTINLOVESBEER
243873    AUSTINLOVESBEER
243874    AUSTINLOVESBEER
243875    AUSTINLOVESBEER
243876    AUSTINLOVESBEER
243877    AUSTINLOVESBEER
243878    AUSTINLOVESBEER
243879    AUSTINLOVESBEER
243880    AUSTINLOVESBEER
243881    AUSTINLOVESBEER
243882    AUSTINLOVESBEER
243883    AUSTINLOVESBEER
243884    AUSTINLOVESBEER
243885    AUSTINLOVESBEER
243886    AUSTINLOVESBEER
243887    AUSTINLOVESBEER
243888    AUSTINLOVESBEER
243889    AUSTINLOVESBEER
243890    AUSTINLOVESBEER
Name: author, Length: 243891, dtype: object

Mit der Funktion ```unique()``` lassen sich die einzigartigen Einträge in einer Spalte herausfinden:

In [9]:
# eine Liste der User-Namen, wobei jeder User genau einmal
# vorkommt
tweets_troll_raw.author.unique()

array(['10_GOP', '1488REASONS', '1D_NICOLE_', '1ERIK_LEE', '1LORENAFAVA1',
       '2NDHALFONION', '459JISALGE', '4EVER1937', '4EVER_SUSAN',
       '4MYSQUAD', '5EMEN5EMENICH', '5L5_5L5', '666STEVEROGERS', '6DRUZ',
       '71BILALJAMIL1', 'AAASSSSSHHH', 'AAATEST1234', 'AAAVADAKEDAVRAA',
       'AAGN1AA', 'AANTIRACIST', 'AARONALLENALL', 'AARON_M1TCHELL',
       'ABALAKOVAYLIA', 'ABBASSHUKRI', 'ABBYLOPTRT', 'ABELLABAB',
       'ABIGAILCALLME', 'ABIGAILSSILK', 'ABIISSROSB', 'ABISADMASST',
       'ABMERRLINS', 'ABOUTPOLIT', 'ABRAMSREBEKAH', 'ABUNUWASA',
       'ABU_UBAIDA2', 'ACAB_ZONE', 'ACAPARELLA', 'ACEJINEV',
       'ACHSAHORKHAN', 'ACTIVEMIKR', 'ADALESTRTM', 'ADAMCHAPMANJR',
       'ADAMMA_DEFOND', 'ADAM_MATHISSS', 'ADDIE_HOL', 'ADELE_BROCK',
       'ADELIINESTRT', 'ADELINE_GS', 'ADELISTRTT', 'ADKEZLATE',
       'ADLEESTTT', 'ADLEESWOD', 'ADNNELSTR', 'ADRGREERR', 'ADRIANAMFTTT',
       'ADRIASNSS', 'ADRIENNE_GG', 'ADRI_LOW_R', 'AESPARZZA', 'AFEELIUTR',
       'AFIFYAMIRA1', 'AFONIA_ZHILCOV', 'AFONINMIXAIL', 'AFRICAVSERDCE',
       'AFUCKINSIDE', 'AGAFONME', 'AGAINUKRFAKE', 'AGATA_ALEXEEVA',
       'AGITPOLK', 'AGNESGRHM', 'AGNESMLTRT', 'AGNESSTRYT',
       'AHMADHUSSEINII', 'AHMADRADJAB', 'AHMADYOUSEF23', 'AHMADYUSUFF03',
       'AHMANSOUR91061', 'AHNORDYK', 'AHOGAN_AM', 'AH_VERONIKI',
       'AIDEN7757', 'AKOROMYSLOVA', 'ALANISSTRS', 'ALAXXATR', 'ALAXXATRT',
       'ALBELITATRTS', 'ALBERTA_HAYNESS', 'ALBERTMORENMORE',
       'ALBUQUERQUEON', 'ALDRICH420', 'ALECMOOOOODY', 'ALEESATRS',
       'ALEKSANISIMOF', 'ALEKSEY_SOKOL_', 'ALEMICHLESS', 'ALENAZELDINA',
       'ALESISTRTT', 'ALESSIAWILLSON', 'ALEXBORONIN', 'ALEXHARRITONOV',
       'ALEXISFOXIE', 'ALEXLOVESSHENNA', 'ALEXMMYER', 'ALEXSVLADIMIROV',
       'ALEXWARNINGU', 'ALEXXBELYAEV', 'ALEXXDRTRR', 'ALEX_DUGIN',
       'ALEX___ANT', 'ALFNEWDAY', 'ALFREDBENBEN', 'ALFREDTHREE',
       'ALI27HUSSEIN', 'ALIDANILOVSKAYA', 'ALIISTRR', 'ALINAANTONCHIK',
       'ALINALINKI_', 'ALINANOVIKOV022', 'ALINAVIATKOVA', 'ALINA_9_1',
       'ALISA_FRATKINA', 'ALISONDAVOL', 'ALIZASSHIELD', 'ALLAHOMORE',
       'ALLBERRTOSS', 'ALLFORPETERSONS', 'ALMOSTSAINTGIRL', 'ALODOY',
       'ALTMANBELINDA', 'ALTMANCOON', 'ALVA_MC_GHEE', 'ALWAYSHUNGRYBAE',
       'ALW_ILL', 'ALYSSABEDOLLA', 'AMALIAHULICK', 'AMALIA_PETTY',
       'AMAMCAMCAM', 'AMANDAVGREEN', 'AMBAASTRT', 'AMBBERTHTT',
       'AMBERDAVV', 'AMBERLINETR', 'AMBERRPAR', 'AMCONVOICE',
       'AMELCREECH', 'AMELIEBALDWIN', 'AMELINAASTR', 'AMERICANALBERT',
       'AMIISTRS', 'AMIRAFERRR', 'AMIRAHPOPE', 'AMIRICANWILL',
       'AMIYAHSAMUELS', 'AMYGRABMYESSAY', 'AMYMUSICLL', 'AMYYSLEGENTR',
       'AMYYSSTS', 'AMYYTHOSSMA', 'ANAAISLEC', 'ANAALESSIS',
       'ANASTASIAR777', 'ANASTASSIAZZ', 'ANASTASSITR', 'ANATOLINEMCOV',
       'ANATOLRMNFF', 'ANBIVALENTNAYA', 'ANCARICTRS', 'ANDEERLWR',
       'ANDEYNESTEROV', 'ANDIOSMARRTRUMP', 'ANDREASEULITZ', 'ANDREBAKIN',
       'ANDREBEAULEGER', 'ANDREJFROLOV69', 'ANDREWHEDDD',
       'ANDREYYKONDRAT1', 'ANDREY_LISCHINA', 'ANDRISNABRT', 'ANDRIYCCCP',
       'ANDROFAG', 'ANDRREETRT', 'ANDRUNINVANYA', 'ANDRYNAUMOV',
       'ANDRY_VOLK', 'ANDSBXX30', 'ANDYDREWDANIELS', 'ANDYHASHTAGGER',
       'ANDY_PUCHINSKYI', 'ANEELSSTRT', 'ANETTANOVGOROD', 'ANFINRUDSADIE',
       'ANFISAMICKEY', 'ANFRAIZER', 'ANGEELISHET', 'ANGEELISTR',
       'ANGELABACH991', 'ANGELA_LATTKE', 'ANGELIKAMUSI',
       'ANGELIKOROTKOVA', 'ANGELINADARCY_', 'ANGELINALADOVA',
       'ANGELISTRR', 'ANGELITHSS', 'ANGELOENOUGH', 'ANGISDOOYL',
       'ANGTHEESTR', 'ANG__BOWERS', 'ANIIANTRS', 'ANISACRRUTR',
       'ANISILOPE', 'ANISSNOVOTR', 'ANITABR1994', 'ANITALOVEHEART',
       'ANJELICAFAMOUS', 'ANKIDINOVAKIRA', 'ANN1EMCCONNELL',
       'ANNABEZGUZIKOVA', 'ANNAMARFINA', 'ANNAMINGT', 'ANNAROMAN0',
       'ANNA_VYSOKAYA', 'ANNETTETEAL1', 'ANNIEISBEAR', 'ANNIEPOSHES',
       'ANNIJONSTR', 'ANNSAM_SAM', 'ANNY_DUBI', 'ANN_HANAH',
       'ANN__BOGDANOVA', 'ANORAVERD', 'ANOSSOVV', 'ANTHONYCANLASS',
       'ANTHONYCARTR', 'ANTHONYWOODBOY', 'ANTIEHARMON', 'ANTONFROMSPB',
       'ANTONHAYHAY', 'ANTONINAPERVAY', 'ANTONOVMENMENCO', 'ANTONRUMSS',
       'ANTOSHAKARGIN', 'ANTYSHEVALIDA', 'ANWARGAFUR', 'ANWARJAMIL22',
       'ANYA_ISA1282', 'ANZGRI', 'AN_NA__AN', 'AN_N_GASTON',
       'APRIILDTRUT', 'APRRILSBRUSS', 'APUHNA', 'ARABMTR', 'ARAGARTRR',
       'ARCHIEOLIVERS', 'ARESTOVEVG', 'ARGENTINACATLE1', 'ARIAANST',
       'ARIANNA_PER_RY', 'ARIEENSLPE', 'ARIELLE_BROWNIN', 'ARIELSHINING',
       'ARINA_RONDAL', 'ARISGRAYS', 'ARKADII_TROFIM', 'ARKADSHIHKIN',
       'ARKHIPOVICHIVNA', 'ARKHIPOVTIOVEOF', 'ARMEDFREJYA', 'ARM_2_ALAN',
       'ARNOLDPARRK', 'ARONHOLDEN8', 'ARONS_KWENDE', 'ARSENI_ROMAN',
       'ARTAUTUMN', 'ARTEMBOGACHENKO', 'ARTEMMPLOTNIKOV', 'ARTEMSSFE',
       'ARTEM_POLISHHUK', 'ARTHCLAUDIA', 'ARTKORCHUNOV', 'ARTURBURANOF',
       'ARTUR__2014', 'ARTYRTOLSTOV', 'ARYANNAJ0NES', 'ARZHANOVAAA',
       'ASDIQARUSSIYA', 'ASHLEECOLLINSS', 'ASHLEEYWES', 'ASHLEYSIMPSN',
       'ASHLEY_KRI', 'ASSUNCAOWALLAS', 'ASWWIMMORRIS', 'ASYAARRIVE',
       'ATIF_SHAIKH_ME', 'ATLANTA_ONLINE', 'ATULSCARPA', 'AURRLISTR',
       'AUSTINLOVESBEER'], dtype=object)

In [10]:
print('Anzahl Troll Tweets: {}'.format(len(tweets_troll_raw)))
unique_users = len(tweets_troll_raw.author.unique())
print('Anzahl Troll User: {}'.format(unique_users))

Anzahl Troll Tweets: 243891
Anzahl Troll User: 298

### Aufgaben
**A.** Wie heißen die Spalten in den drei Datensätzen und welche Informationen enthalten sie?  
**B.** Sieh dir ein paar Tweets aus den jeweiligen Datensätzen an, indem du auf die Spalte mit dem Tweet-Text und den Index des Tweets zugreifst.  
**C.** Wieviele Tweets und User enthält der Datensatz mit "normalen" Tweets, wieviele der Datensatz zu den Trump Tweets?  
**D.** Was ist die mittlere Anzahl an Tweets je User für den Datensatz mit den normalen Usern und den mit den Trollen?  
**E.** **(Optional):** Welcher User im Troll-Datensatz hat die meisten Tweets produziert und wieviele Tweets sind das?  
**F.** **(Optional):** der Troll-Datensatz listet auch die Tweet-Sprache. Wieviele Sprachen sind im Datensatz vertreten und wieviele Tweets gibt es je Sprache?

[Anfang](#top)

<a name="daten_bereinigen"></a>3. Daten bereinigen
---
Offensichtlich gibt es im Datensatz der Trump-Tweets nicht nur Tweets von Trump selbst [@realDonaldTrump](https://twitter.com/realdonaldtrump) sondern auch noch von vier anderen Usern. Im Folgenden wollen wir die Datensätze etwas aufräumen, um sie leichter nutzbar zu machen.

In [11]:
# originale Anzahl Tweets
print('Anzahl der Tweets vor Bereinigung: {}'.format(len(tweets_trump_raw)))

# entferne alle Tweets von Usern, die nicht "realDonaldTrump"
# sind aus dem Datensatz.
mask_realDonald = tweets_trump_raw['screen_name'] == 'realDonaldTrump'
tweets_trump_filtered = tweets_trump_raw[mask_realDonald]

# wir sehen: es sind gar nicht so viele Tweets verschwunden.
print('Anzahl der Tweets nach Bereinigung: {}'.format(len(tweets_trump_filtered)))

Anzahl der Tweets vor Bereinigung: 32826
Anzahl der Tweets nach Bereinigung: 32807

Es fällt auf, dass die Spalten in den drei Datensätzen unterschiedlich heißen. Die Spalte mit dem User, der einen Tweet erstellt hat, heißt z.B. ```User``` (normale Tweets), ```screen_name``` (Trump Tweets) und ```author``` (Troll Tweets), obwohl sie die gleiche Information - nämlich den Username - enthält. Um die Daten in Zukunft einfacher handhaben zu können, wollen wir sicherstellen, dass alle Spalten in allen Datensätzen gleich heißen. Außerdem löschen wir alle Spalten mit Informationen, die nicht relevant für uns sind. Dafür erstellen wir basierend auf den DataFrame mit den (gefilterten) Rohdaten ein neues DataFrame, das nur die Spalten (mit den richtigen Namen) enthält, die wir brauchen:

In [12]:
# neues, gesäubertes DataFrame
tweets_trump = pd.DataFrame({'Date':tweets_trump_filtered['created_at'],\
                             'User':tweets_trump_filtered['screen_name'],\
                             'Tweet':tweets_trump_filtered['text']})

### Aufgaben
Generell interessieren wir uns für die Spalten, in denen der Username, das Tweet-Datum und der Tweet-Text enthalten sind. Bei den Troll Tweets möchten wir außerdem die Spalten mit Informationen über die Sprache, die Anzahl der Follower und die Anzahl der gefolgten Accounts.  

**A.** Bereinige auch die Tweets von den normalen Usern, indem du ein neues DataFrame mit den Spalten ```[Date, User, Text]``` basierend auf den Rohdaten erstellst.  
**B.** Bereinige die Troll Twees (wie oben die Trump Tweets), behalte zusätzlich auch die Spalten, die die Informationen über die Tweet-Sprache, die Anzahl der Follower und die Anzahl der gefolgten Accounts enthalten.  
**C. (Optional):** Aktuell benutzen wir nur den ersten von 13 Teilen des Troll-Tweet Datensatzes. Wir machen das, da sonst der Datensatz eventuell zu groß werden würde. Wenn du möchtest, kannst du aber auch die anderen 12 Datensätze herunterladen und mit dem ersten zu einem einzigen großen Datensatz zusammenfügen. <font color='green'>**HINWEIS:** Benutze dazu am besten die ```concat()``` Funktion von Pandas ([Dokumentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)). </font> Wie sind die Tweets in dem gesamten Datensatz strukturiert? Wie wurde der Datensatz in einzelne Teile aufgeteilt?   
**D. (Optional):** Das Format der Spalte "Date" ist noch in allen drei Datensätzen unterschiedlich. Versuche, alle drei unterschiedlichen Zeit- und Datumsangaben in einen String mit dem Format ```YYYY-MM-DD hh:mm:ss``` (Year-Month-Day hour:minute:second) zu überführen. Noch eleganter ist die Benutzung eines [datetime](https://docs.python.org/2/library/datetime.html) Objektes, um Datum und Uhrzeit zu speichern. 

Im Folgenden interessieren wir uns für die Länge der einzelnen Tweets. Diese können wir berechnen und in den DataFrames speichern:

In [13]:
length = []
for tweet in tweets_trump['Tweet']:
    length.append(len(tweet))

tweets_trump['Length'] = length
tweets_trump.head()

,Date,User,Tweet,Length
0,2009-05-20 22:29:47,realDonaldTrump,Read a great interview with Donald Trump that ...,112
1,2010-11-29 15:52:46,realDonaldTrump,Congratulations to Evan Lysacek for being nomi...,127
2,2010-10-28 18:53:40,realDonaldTrump,I was on The View this morning. We talked abou...,139
3,2010-11-24 17:20:54,realDonaldTrump,Tomorrow night's episode of The Apprentice del...,140
4,2009-11-16 21:06:10,realDonaldTrump,Donald Trump Partners with TV1 on New Reality ...,116

**E.** Erstelle eine Funktion, die für ein gegebenes DataFrame die Tweet-Länge berechnet und eine neue Spalte mit der Tweet-Länge zum DataFrame hinzufügt. Wende diese Funktion auf alle drei Tweet-Datensätze an.  
**F.** **(Optional)** Erstelle eine zweite Funktion, die die Anzahl der Worte je Tweet berechnet und ebenfalls als zusätzliche Spalte dem DataFrame hinzufügt.  
**G.** Speichere alle drei Dataframes im Ordner ```/data``` als ```.csv``` Datei unter den Namen
* ```tweets_normal_bereinigt.csv```,
* ```tweets_trump_bereinigt.csv``` und
* ```tweets_troll_bereinigt.csv```.  
Benutze dafür die Funktion [to_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) des Dataframes.

[Anfang](#top)